<h1>{{title}}</h1>
<table class="table">
    <thead>
        <tr style="background-color: aqua;">
            <th>Назва програми</th>
            <th>Країна</th>
            <th>Район</th>
            <th>Геометка</th>
        </tr>
    </thead>
    <tbody>
        {{#each cities}}
        <tr>
            <td>{{name}}</td>
            <td>{{country}}</td>
            <td>{{subcountry}}</td>
            <td>{{geonameid}}</td>
        </tr>
        {{/each}}
    </tbody>