<h1>{{title}}</h1>
<table class="table">
    <thead>
        <tr style="background-color: aqua;">
            <th>Назва маршруту</th>
            <th>Маршрут</th>
            <th>Тривалість маршрут</th>
            <th>Ціна</th>
        </tr>
    </thead>
    <tbody>
        {{#each tours}}
        <tr>
            <td>{{title}}</td>
            <td>{{route}}</td>
            <td>{{days}}</td>
            <td>{{price}}</td>
        </tr>
        {{/each}}
    </tbody>
    


</table>