<div class="container">

    <form role="form">
        <legend>{{title}}</legend>
        <div class="form-group">
            <label for="name">Назва</label>
            <input type="text" class="form-control" id="nameCinemas" 
            placeholder="Напр. Red" name="nameCinemas"
            value="{{cinemas.name}}">
        </div>

        <div class="form-group">
            <label for="rows">Ряд</label>
            <input type="number" class="form-control" id="rowsCinemas" placeholder="Ряд" name="rows"
            value="{{cinemas.rows}}" >
        </div>
       
        <div class="form-group">
            <label for="cols">Місце</label>
            <input type="number" class="form-control" id="colsCinemas" placeholder="місце" name="cols"
            value="{{cinemas.cols}}">
        </div>

        <div class="form-group">
            <label for="__v">Зайняті місця</label>
            <input type="text" class="form-control" id="__v" placeholder="Зайняті місця" name="__v"
            value="{{cinemas.__v}}">
        </div>
<script>
    function Save(){
        let data = {
            name: document.getElementById('name').value,
            rows: document.getElementById('rows').value,
            cols: document.getElementById('cols').value,
            __v: document.getElementById('__v').value
            //isPresent: document.getElementById('isPresent').value
        }         
        fetch("/cinemas/{{cinemas._id}}", {
            method:'PUT',
            cache:'no-cache',
            headers: {
                'content-type':'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(d=>window.location='/cinemas')
        .catch(err=>alert(err));
    }
</script>